<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_mybatis1208:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_mybatis1208_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_mybatis1208" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/aopalliance-1.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/asm-3.3.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/aspectjweaver-1.6.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/cglib-2.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/commons-dbcp-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/commons-fileupload-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/commons-io-2.0.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/commons-pool-1.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/hibernate-validator-4.3.0.Final.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/jackson-core-asl-1.9.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/jackson-mapper-asl-1.9.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/jboss-logging-3.1.0.CR2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/jstl-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/junit-4.9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/log4j-api-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/log4j-core-2.0-rc1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/mybatis-3.2.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/mysql-connector-java-5.1.7-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-aop-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-aspects-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-beans-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-context-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-context-support-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-core-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-expression-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-jdbc-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-orm-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-test-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-tx-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-web-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/spring-webmvc-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../springmvc_mybatis1208/WebRoot/WEB-INF/lib/validation-api-1.0.0.GA.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc_mybatis1208/web/Web" />
    </root>
  </artifact>
</component>